# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Default dependencies (React/Vite)
package-lock.json
src/ontrack-images/Red_product_sheet.pdf
src/ontrack-images/TRAIN.png
src/ontrack-images/cleanyclean.png
src/ontrack-images/dirty.png
src/ontrack-images/ontrack.png
src/ontrack-images/problem.png
src/ontrack-images/robit.png
